/*
* 
* @author Silvan Miller
*/

html,
body,
.home {
    /*border: 1px solid red;*/
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../imagens/capa.png), url(../imagens/ruido.png), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: helvetica, Arial, sans-serif;
}

.brr_trasparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.divisor {
    width: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 12px 15px;
}

.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

@media (max-width: 575.98px) {
    .btn-custom {
        margin: 8px 12px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-custom {
        margin: 10px 12px;
    }
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-white {
    border: 2px solid white;
}

.btn-white:hover {
    background-color: white;
    color: black;
}


/* --- Conteudos --- */

#servicos {
    background: white;
}

#servicos h2 {
    color: #7c25f8;
}

#servicos h3 {
    color: #7c25f8;
}

#recursos h2 {
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}

#recursos p {
    color: white;
}

.capa {
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns {
    padding: 10px 0;
}

.rotacionar {
    transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    padding: 45px;
}


/* --- Rodape --- */

footer {
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 0 10px 0 10px;
}

.iconesRS a {
    color: white;
}

.iconesRS a:hover {
    color: #9bf0e1;
}

footer p {
    color: white;
    text-align: center;
}

h1 {
    font-size: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}